<script>
    import { popup } from "../js/stores";
    import { getContext } from "svelte";
    import { Feature, Overlay } from "ol";
    import { prop_dev } from "svelte/internal";

    const { getMap } = getContext("map");
    const map = getMap();

    let top = ""
    let left = ""


    $: if ($popup?.feature) {
        let coords = $popup.feature.getGeometry().getCoordinates()
        console.log(map.getPixelFromCoordinate(coords))
        left = ` left:${Math.floor(map.getPixelFromCoordinate(coords)[0])}px; `
        top = ` top:${Math.floor(map.getPixelFromCoordinate(coords)[1])}px; `
    }

    $: console.log($popup?.feature?.getProperties())
</script>

{#if $popup?.feature}
    <div style={top + left} class="absolute z-10 bg-stone-200">
        <ul class="p-2">
            {#each Object.entries($popup?.feature?.getProperties()) as [key, value]}
            {#if typeof value !== "object"}
            <li class="px-2">

                {key} : {value}
            </li>
            {/if}
            {/each}
        </ul>
    </div>
{/if}
