<script lang="ts">
    import { onMount } from "svelte";
    import { setContext } from "svelte";
    import { Map, View } from "ol";
    import { OSM } from "ol/source";
    import { Tile as TileLayer } from "ol/layer";

    import { transform } from "ol/proj";

    export let map;

    setContext("map", {
        getMap: () => map,
    });

    onMount(async () => {
        map = await mapInit();
    });

    async function mapInit() {
        return new Map({
            target: "map",
            layers: [
                new TileLayer({
                    source: new OSM(),
                }),
            ],
            controls: [],
            view: new View({
                center: transform([30.52, 50.45], "EPSG:4326", "EPSG:3857"),
                zoom: 5,
            }),
        });
    }
</script>

<div id="map" class="map">
    {#if map}
        <slot />
    {/if}
</div>
