<script lang="ts">
    import { timeline } from "../js/stores";
    import Add from "carbon-icons-svelte/lib/Add.svelte";
    import Subtract from "carbon-icons-svelte/lib/Subtract.svelte";
    import Play from "carbon-icons-svelte/lib/Play.svelte";

    import Button from "./Button.svelte";

    export let map;
    

    const onZoomIn = () => {
        map.getView().setZoom(map.getView().getZoom() + 1);
    };

    const onZoomOut = () => {
        map.getView().setZoom(map.getView().getZoom() - 1);
    };

    const onPlayPause = () => {
        timeline.togglePlay()
    };

</script>

<div class=" flex flex-col m-2">
    <div class="flex flex-col">
        <Button on:click={onZoomIn} icon={Add} />
        <Button on:click={onZoomOut} icon={Subtract} />
        <Button on:click={onPlayPause} icon={Play} />
    </div>
    <div class="grow" />
    <div
        class="fixed inset-x-0 bottom-0 bg-stone-400 m-2 rounded-lg bg-opacity-80"
    >
    
        <span class="p-2 text-lg font-medium tracking-wide ">Timeline</span>
        <div class="w-full text-center ">
            <input
                type="range"
                min={$timeline.min}
                max={$timeline.max}
                value={$timeline.current}
                on:input={ev => timeline.jump(Number(ev.target.value))}
                class="w-4/5"
            />
        </div>
    </div>
</div>


