<script lang="ts">
  import geojson from "../../geojson.json";
  import Map from "./lib/Map.svelte";
  import MapControls from "./lib/MapControls.svelte";
  import FeatureLayer from "./lib/FeatureLayer.svelte";
  import FeaturePopup from "./lib/FeaturePopup.svelte";

  let map = undefined;
</script>

<div class="absolute z-10">
  {#if map}
    <MapControls {map} />
  {/if}
</div>

<Map bind:map>
  <FeaturePopup />
  <FeatureLayer source={geojson} />
</Map>
